html {
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

footer {
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 5px 0 #444;
  padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #e0ebff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  width: 100%;
}

.navbar {
  box-shadow: 0 0 5px 0 #444;
}

.landing {
  position: relative;
  background: url("./img/cooking-background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;

  margin-top: -24px;
  margin-bottom: -48px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #666 !important;
}

.navbar-brand {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  font-size: 1.6rem;
}

.recipe-author {
  text-align: center;
  font-size: 12px;
}

.form-control,
.form-control-lg,
.lead {
  font-size: 1rem;
}

.likesAndComments {
  color: #333;
  padding: 0px;
  margin: 0px;
}

.lead {
  color: #333;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

.card {
  box-shadow: 0 0 3px 0 #b3b3b3;
  border: none;
}

.btn {
  border-radius: 3px;
  margin-bottom: 0.25rem;
}

.btn-light,
.badge-light {
  background-color: #f8f9fa;
  color: #333;
}

textarea.form-control {
  height: 20vh;
  min-height: 100px;
}

.btn-light:hover {
  background-color: #f8f9fa;
  box-shadow: 0 0 3px 0 #b3b3b3;
}

.btn:hover {
  box-shadow: 0 0 3px 0 #b3b3b3;
}

#landing-text {
  color: white;
}

.card-header,
.bg-info,
.btn-info {
  background-color: #4582ec !important;
  border: 1px solid #4582ec !important;
}

.btn-info:hover {
  background-color: #3265bc;
  border: 1px solid #3265bc;
}

.text-info {
  color: #4582ec !important;
}

.bg-dark {
  background-color: #3265bc !important;
}
.little {
  font-size: 0.8rem;
}

.rating-button {
  margin-bottom: 10px;
  max-width: 75px;
}

select {
  max-width: 75px;
  font-size: 0.8rem !important;
  padding: 5px !important;
  max-height: 1.75rem !important;
}

#search-form {
  margin-bottom: 15px;
}

#deleteComment {
  font-size: 0.8rem;
}

#deleteComment:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .greeting {
    font-size: 2rem !important;
  }

  .navbar-brand {
    font-size: 1rem !important;
  }
}

@media only screen and (max-width: 268px) {
  .greeting,
  .display-4 {
    font-size: 1.5rem !important;
  }

  .recipe-header,
  h3 {
    font-size: 1.25rem !important;
  }

  .navbar-brand,
  footer,
  .btn {
    font-size: 0.7rem !important;
  }

  .ingredients,
  .directions,
  .nav-item,
  .form-control,
  .about {
    font-size: 0.8rem !important;
  }

  .about {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  body,
  h5,
  .profile-user {
    font-size: 1rem;
  }

  .m-auto {
    min-width: 30px;
    min-height: 30px;
  }

  .col-4,
  .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .btn {
    display: block !important;
    max-width: 75%;
  }

  svg {
    font-size: 1em !important;
  }
}
